/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/variable.scss";

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $Navy;
  color: $Slate;
  line-height: 1.3;
  font-family: $MainFont;
  font-size: 20px;
}
